<p>
This is a SAMPLE application that demonstrates the use of rails with the Twitter RESTful API with OAuth 1.0a.
</p>
<ul>
<li>Prepared by: paul gallagher - <a href="http://tardate.com">http://tardate.com</a></li>
<li>Repository: <a href="http://github.com/tardate/rails-twitter-oauth-sample/tree/master">http://github.com/tardate/rails-twitter-oauth-sample/tree/master</a></li>
<li>Demonstration site: <a href="http://rails-twitter-oauth-sample.heroku.com">http://rails-twitter-oauth-sample.heroku.com</a></li>
</ul>
